@model IEnumerable<WebApplication1.Models.UserModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div>
        @*@Html.ActionLink("Создать","Create")*@
        @Html.ActionLink("Создать", "CreateEdit")
    </div>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    @*<td>@Html.ActionLink("Редактировать","Edit", new { id = item.Id })</td>*@
                    <td>@Html.ActionLink("Редактировать","CreateEdit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("Удалить","Delete", new { id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
    @{ Html.RenderPartial("_GetTop5Orders", Model); }
</div>
