@model IEnumerable<WebApplication1.Models.AuthorBook>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div>
        @*@Html.ActionLink("Создать","Create")*@
        @Html.ActionLink("Создать", "CreateEdit") |
        @Html.ActionLink("Скачать пользователей", "Download")
    </div>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>User</th>
            <th>Book</th>
            <th>Issue Date</th>
            <th>Time</th>
            <th>Return Date</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.BooksName</td>
                    <td>@item.IssueDate.ToString()</td>
                    <td>@item.Time.ToString()</td>
                    @*<td>@((DateTime.Compare(item.ReturnDate,new DateTime(1900,1,1,0,0,0)) == 0)?Html.ActionLink("Вернуть книгу","ReturnBook"):item.ReturnDate)</td>*@
                    <td>@if (DateTime.Compare((DateTime)item.ReturnDate, new DateTime(1900, 1, 1, 0, 0, 0)) == 0)
                    {
                        @Html.ActionLink("Вернуть книгу", "ReturnBook", new { id = item.Id }) 
                        if(DateTime.Compare(DateTime.Now,item.Time) == 1)
                        {
                             @Html.ActionLink("Отправить уведомление","Link",new { id = item.Id})
                        }
                    }
                    else
                    {
                        @item.ReturnDate
                    }
                    </td>
                    @*<td>@Html.ActionLink("Редактировать","Edit", new { id = item.Id })</td>*@
                    <td>@Html.ActionLink("Редактировать", "CreateEdit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("Удалить","Delete", new { id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

